body{
	font-family: Times New Roman, Arial, Helvectica, sans-serif;
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	margin: 0px;
	background-color: #2A2A2A;
	color: white;

}

.box{
	padding-top: 50px;
	padding-bottom: 50px;
	border: 10px;

}

.box2{
	background-color: green;
}